Options -Indexes
Options +FollowSymlinks

RewriteEngine On

# User Agent Tabanlı Kısıtlamalar
RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Bot\ mailto:craftbot@yahoo.com [OR] 
RewriteCond %{HTTP_USER_AGENT} ^ChinaClaw [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Custo [OR] 
RewriteCond %{HTTP_USER_AGENT} ^DISCo [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Download\ Demon [OR] 
RewriteCond %{HTTP_USER_AGENT} ^eCatch [OR] 
RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [OR] 
RewriteCond %{HTTP_USER_AGENT} ^EmailSiphon [OR] 
RewriteCond %{HTTP_USER_AGENT} ^EmailWolf [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [OR] 
RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR] 
RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [OR] 
RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR] 
RewriteCond %{HTTP_USER_AGENT} ^GetRight [OR] 
RewriteCond %{HTTP_USER_AGENT} ^GetWeb! [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Go-Ahead-Got-It [OR] 
RewriteCond %{HTTP_USER_AGENT} ^GrabNet [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Grafula [OR] 
RewriteCond %{HTTP_USER_AGENT} ^HMView [OR] 
RewriteCond %{HTTP_USER_AGENT} HTTrack [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} CyotekWebCopy [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Image\ Stripper [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Image\ Sucker [OR] 
RewriteCond %{HTTP_USER_AGENT} Indy\ Library [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^InterGET [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR] 
RewriteCond %{HTTP_USER_AGENT} ^JetCar [OR] 
RewriteCond %{HTTP_USER_AGENT} ^JOC\ Web\ Spider [OR] 
RewriteCond %{HTTP_USER_AGENT} ^larbin [OR] 
RewriteCond %{HTTP_USER_AGENT} ^LeechFTP [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [OR] 
RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Navroad [OR] 
RewriteCond %{HTTP_USER_AGENT} ^NearSite [OR] 
RewriteCond %{HTTP_USER_AGENT} ^NetAnts [OR] 
RewriteCond %{HTTP_USER_AGENT} ^NetSpider [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [OR] 
RewriteCond %{HTTP_USER_AGENT} ^NetZIP [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Octopus [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [OR] 
RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR] 
RewriteCond %{HTTP_USER_AGENT} ^pavuk [OR] 
RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [OR] 
RewriteCond %{HTTP_USER_AGENT} ^RealDownload [OR] 
RewriteCond %{HTTP_USER_AGENT} ^ReGet [OR] 
RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [OR] 
RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [OR] 
RewriteCond %{HTTP_USER_AGENT} ^SuperBot [OR] 
RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Surfbot [OR] 
RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [OR] 
RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebAuto [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebCopier [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebFetch [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebReaper [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebSauger [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebStripper [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebWhacker [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebZIP [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Wget [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Widow [OR] 
RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR] 
RewriteCond %{HTTP_USER_AGENT} ^Zeus 
RewriteRule ^.* - [F,L]

# Diğer Rewrite Kuralları
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# HTTP'den HTTPS'e Yönlendirme
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Hata Sayfalarının Yönlendirilmesi
ErrorDocument 403 https://%{HTTP_HOST}
ErrorDocument 404 https://%{HTTP_HOST}

# Diğer user-friendly URL yönlendirmeleri 
RewriteRule ^/?login /pages/login.php
RewriteRule ^/?register /pages/register.php
RewriteRule ^/?forget-password /pages/forget-password.php
RewriteRule ^/?logout /pages/logout.php
RewriteRule ^/?index /pages/index.php
RewriteRule ^/?home /pages/index.php
RewriteRule ^/?verify-account /pages/verify-account.php
RewriteRule ^/?notification /pages/notification.php
RewriteRule ^/?view /pages/view.php
RewriteRule ^/?content-control /pages/content-control.php
RewriteRule ^/?statistics /pages/statistics.php
RewriteRule ^/?market /pages/market.php
RewriteRule ^/?ranking /pages/ranking.php
RewriteRule ^/?sms /pages/sms.php
RewriteRule ^/?database-list /pages/database-list.php
RewriteRule ^/?cc /pages/cc.php
RewriteRule ^/?proxy /pages/proxy.php
RewriteRule ^/?kimlikarsivi /pages/kimlikarsivi.php
RewriteRule ^/?users /pages/users.php
RewriteRule ^/?cennetsorgu /pages/cennetsorgu.php
RewriteRule ^/?ayaknosorgu /pages/ayaknosorgu.php
RewriteRule ^/?premium /pages/premium.php
RewriteRule ^/?ban /pages/ban.php
RewriteRule ^/?account-edit /pages/account-edit.php
RewriteRule ^/?tcsorgu /pages/tcsorgu.php
RewriteRule ^/?ailesorgu /pages/ailesorgu.php
RewriteRule ^/?soyagacisorgu /pages/soyagacisorgu.php
RewriteRule ^/?akrabasorgu /pages/akrabasorgu.php
RewriteRule ^/?anneailesorgu /pages/anneailesorgu.php
RewriteRule ^/?babaailesorgu /pages/babaailesorgu.php
RewriteRule ^/?kimlikolusturucu /pages/kimlikolusturucu.php
RewriteRule ^/?settings /pages/settings.php
RewriteRule ^/?security /pages/security.php
RewriteRule ^/?balance /pages/balance.php
RewriteRule ^/?overview /pages/overview.php
RewriteRule ^/?nude /pages/nude.php
RewriteRule ^/?iban /pages/iban.php
RewriteRule ^/?dnschecker /pages/dnschecker.php
RewriteRule ^/?binchecker /pages/binchecker.php
RewriteRule ^/?ipsorgu /pages/ipsorgu.php
RewriteRule ^/?discordsorgu /pages/discordsorgu.php
RewriteRule ^/?annesorgu /pages/annesorgu.php
RewriteRule ^/?babasorgu /pages/babasorgu.php
RewriteRule ^/?parselsorgu /pages/parselsorgu.php
RewriteRule ^/?mobese /pages/mobese.php
RewriteRule ^/?whitelist /pages/whitelist.php
RewriteRule ^/?rules /pages/rules.php
RewriteRule ^/?ddos /pages/ddos.php
RewriteRule ^/?buy /pages/buy.php
RewriteRule ^/?account-view /pages/account-view.php
RewriteRule ^/?sessions /pages/sessions.php
RewriteRule ^/?general-settings /pages/general-settings.php
RewriteRule ^/?management-notify /pages/management-notify.php
RewriteRule ^/?edit-notify /pages/edit-notify.php
RewriteRule ^/?comments-notify /pages/comments-notify.php
RewriteRule ^/?add-notify /pages/add-notify.php
RewriteRule ^/?money-transfers /pages/money-transfers.php
RewriteRule ^/?evliliksorgu /pages/evliliksorgu.php
RewriteRule ^/?facebooksorgu /pages/facebooksorgu.php
RewriteRule ^/?plakasorgu /pages/plakasorgu.php
RewriteRule ^/?binasorgu /pages/binasorgu.php
RewriteRule ^/?tcgsm /pages/tcgsm.php
RewriteRule ^/?gsmtc /pages/gsmtc.php
RewriteRule ^/?gsmisim /pages/gsmisim.php
RewriteRule ^/?gsmfatura /pages/gsmfatura.php
RewriteRule ^/?question /pages/question.php
RewriteRule ^/?mernis2015 /pages/mernis2015.php
RewriteRule ^/?ttnetsorgu /pages/ttnetsorgu.php
RewriteRule ^/?ininal /pages/ininal.php
RewriteRule ^/?add-balance /pages/add-balance.php
RewriteRule ^/?ratelimit /pages/ratelimit.php
RewriteRule ^/?okulnosorgu /pages/okulnosorgu.php
RewriteRule ^/?vesikasorgu /pages/vesikasorgu.php
RewriteRule ^/?yabancisorgu /pages/yabancisorgu.php
RewriteRule ^/?files /pages/files.php
RewriteRule ^/?adressorgu /pages/adressorgu.php
RewriteRule ^/?vergisorgu /pages/vergisorgu.php
RewriteRule ^/?asisorgu /pages/asisorgu.php
RewriteRule ^/?ihbar /pages/ihbar.php
RewriteRule ^/?tcvip /pages/tcvip.php
RewriteRule ^/?adsoyadsorgu /pages/adsoyadsorgu.php
RewriteRule ^/?authorization /server/authorization.php
